
body {
    background-color: #f5f5e7;
    color:black;
}

#MainControlPanel {
    display: flex;
    justify-content: center;
    align-items:center;
}

.btn {
    color: blue;
}

.resume_wrapper {
    display: none;
}


/* .task_control_panel {
    display: flex;
    justify-content: center;
    align-items: flex-start;
} */

.task_manage {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task_list_wrapper {
    height: 100%;
    width:100%;
}

hr {
    border:0;
    height: 1px;
    background-color: #d8d8d8;
}

.resume_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f5f5e7;
    text-align: center;
    padding-top: 100px;
}

h5 {
    margin: 0;
    text-align: center;
}

input {
    height: 35px;
}

.quick_menu {
    text-align: center;
}

.btn {
    background: transparent;
    border: 1px solid white;
    padding: 10px;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}



.btn-primary {
    background: #327ebf;
    border: 1px solid #327ebf;
}

.btn-success {
    border: 1px solid green;
    background: green;
}


.btn-danger {
    border: 1px solid red;
    background: red;
}

.btn:disabled {
    opacity: 0.2;
    cursor: not-allowed;
  pointer-events: all !important;
}


#task_list {
    max-height: 200px;
    overflow: scroll;
}

table {
    background: white;
    width: 100%;
}

td {
    border: 1px solid black;
    padding: 5px;
}

select {
    height: 35px;
}

.form_control {
    margin: 5px;
}